/* variables */
:root {
  --primary: #aacdbe;
  --secondary: #232931;
}

/* reset styles */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/** Base Styles **/

body {
  font-family: 'Balsamiq Sans';
  background-color: var(--primary);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background-color: var(--secondary);
  width: 100%;
}

header h2 {
  letter-spacing: 0.1em;
  border-bottom: 2px solid #654062;
  font-size: 2em;
  color: #f4f4f4;
}

.team-container {
  margin: 30px auto;
  max-width: 400px;
  border: 7px solid var(--secondary);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 70%;
}

.team-container h4, .home-team-players h4, .away-team-players h4 {
  border-bottom: 2px solid var(--secondary);
}

.team-container label, .team-container h4 {
  color: #f9f7f7;
  font-size: 1.2em;
}

.team-container select {
  margin: 20px auto;
  width: 50%;
}

.button-container {
  justify-content: center;
  margin: 10px 0px;
}

.footer {
  width: 100%;
  background: var(--secondary);
  color: white;
}


.home-team-players h4, .away-team-players h4{
  text-align: center;
}

.players-list {
  display: flex;
  flex-direction: column;
} 

.players-list li{
  margin: 10px auto;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 50px;
}

.grid .home-team-players {
  grid-column: 1/6;
}

.away-team-players {
  grid-column: 7/13;
}

.player-styles {
  display: flex;
  flex-direction: column;
}

.team-players-container {
  max-width: 100%;
}

/* player-country related styles */

.Aus {
  background: #f5a31a;
  color: #06623b;
  border: 2px solid #06623b !important;
}

.Wi {
  background: maroon;
  color: #f3f3f3;
  border: 2px solid maroon !important;
}

.Eng {
  background: #40bad5;
  color: #fa1616;
  border: 2px solid #40bad5 !important;
}

.Ind {
  background: #07689f;
  color: #fa7d09;
  border: 2px solid #07689f !important;
}

.Rsa {
  background: #06623b;
  color: #f5a31a;
  border: 2px solid #f5a31a !important;
}

.Nz {
  background: #404040;
  color: #f3f3f3;
  border: 2px solid #404040 !important;
}

/** Media Queries **/

@media screen and (max-width: 500px) {
  .team-container {
    width: 60%;
  }
  .team-container select {
    margin: 20px auto;
    width: 80%;
  }
  .players-list {
    align-items: center;
  }
  .players-list li {
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    width: 80%;
  }
  .grid .home-team-players {
    grid-column: 1/13;
  }
  .grid .away-team-players {
    grid-column: 1/13;
  }
}

@media screen and (min-width:760px) {
  .player-styles, .players-list {
    align-items: center;
  }
}
