body {
   background:  #010038;
}

.title {
    color: #f39422;
    text-decoration: underline;
    letter-spacing: 0.1em;
}

.search-button {
    background: #010038;
}

.book-item {
    max-width: 400px;
    margin: 10px;
    padding: 5px;
    border: 2px solid #f39422;
}

.book-details {
    margin: 5px;
    padding: 10px;
}

.item-label {
    color: #f39422;
}

.description {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-form {
    min-width: 550px;
}

.wishlist {
    background-color: #f39422;
    padding: 10px;
    margin: 45px 0 15px 15px;
    height: 25%;
}

.wishlist i {
    margin: 0px 2px 0px 2px;
}

button:disabled:hover {
    cursor: not-allowed;
}