<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a8121594d4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/favicon-16x16.png">
  <link rel="manifest" href="../assets/icons/site.webmanifest">
  <title>Harry Potter - Characters</title>
</head>

<body onload="getCharacterWandDetails()">
  <nav class="header d-flex justify-content-between">
    <h2>Characters</h2>
    <img src="../assets/images/house-Hogwarts.jpg" width="50px">
    <ul class="nav-container nav-container-margin nav-characters">
      <li><a href="../index.html">Home</a></li>
      <li><a class="active">Characters</a></li>
      <li><a href="./wands.html">Wands</a></li>
      <li><a href="./spells.html">Spells</a></li>
    </ul>
  </nav>
  <div class="filter-characters">
    <ul class="nav-container d-flex justify-content-around filter-menu">
      <li class="underline" style="font-size:1em;"><a href="#" class="active">All</a></li>
      <li><a href="#">Student</a></li>
      <li><a href="#">Professor</a></li>
      <li><a href="#">Head</a></li>
      <li><a href="#">Author</a></li>
      <li><a href="#">Founder</a></li>
      <li><a href="#">Headmaster</a></li>
      <li><a href="#">Auror</a></li>
    </ul>
  </div>
  <div class="main-characters-container grid-spells"></div>
  <div class="paginator-controls d-flex justify-content-end">
    <button value="-1" onclick="decrementPage(); populateNextSet();" class="prev">Prev</button>
    <span class="current">1</span> <span>of</span> <span class="total">1</span>
    <button value="+1" onclick="incrementPage(); populateNextSet();" class="next">Next</button>
  </div>
  <div class="footer d-flex justify-content-center">
    <p>Casted with &hearts; by SPrashanthV</p>
  </div>
  <script src="../scripts/potter.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>