<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <title>Harry Potter - Wands</title>
  <!--TODO: Add fav-icon of Hogwarts -->
</head>

<body onload="getCharacterWandDetails()">
  <nav class="header d-flex justify-content-between">
    <h2 class="py-2">Wands</h2>
    <ul class="nav-container">
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Characters</a></li>
      <li><a class="active" href="#">Wands</a></li>
      <li><a href="./spells.html">Spells</a></li>
    </ul>
  </nav>
  <script src="../scripts/potter.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>